.admin-layout {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(to right, #0f172a, #312e81);
  color: white;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 30px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sidebar li:hover {
  color: #60a5fa;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 40px;
}

.admin-title {
  margin-bottom: 40px;
  font-size: 28px;
}

/* Cards */
.card-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 30px;
  width: 260px;
  border-radius: 14px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 40px rgba(99, 102, 241, 0.6);
}

.card-icon {
  font-size: 35px;
  margin-bottom: 15px;
  color: #60a5fa;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #cbd5e1;
}

.card p {
  font-size: 28px;
  font-weight: bold;
}